<div class="header">  
    <div class="logo-and-title">
        <a class="navbar-brand" href="/">
            <img src="logo-removebg-preview.png">
        </a>
        <a class="navbar-brand">
            <h1>PET DETECTIVE</h1>
        </a>
    </div>
    <a class="nav-link btn" href="/login">
        <strong>Login</strong>
    </a>
</div>

<div class="thin-line"></div>