<%- include ('partials/header.ejs') %>
    <%- include ('partials/homenavbar.ejs') %>

        <div class="pets-info">
            <img src="dog.jpg" alt="imagem de animais">
        </div>
        <div class="thin-line"></div>

        <div class="prevencao">
            <h1><strong>COMO PREVINIR A PERDA DO SEU
                    ANIMAL DE ESTIMAÇÃO?</strong></h1>
            <div class="prevencao-text">
                1. Identificação
                Microchip: Implante um microchip no seu animal. Esse pequeno dispositivo, colocado sob a pele, contém um
                número de identificação único que pode ser lido por um scanner em clínicas veterinárias e abrigos.
                Coleira com etiqueta: Certifique-se de que seu pet use uma coleira com uma etiqueta de identificação
                contendo o nome do animal, seu nome e seu número de telefone.<br>
                <br>2. Treinamento
                Treinamento de obediência: Ensine comandos básicos como "vem" e "fica". Um animal bem treinado é menos
                provável de se afastar.
                Recall training: Treine seu animal para voltar ao ser chamado, especialmente em situações de
                distração.<br>
                <br>3. Segurança em Casa
                Jardim seguro: Certifique-se de que o quintal ou jardim esteja bem cercado, sem buracos ou lugares por
                onde o animal possa escapar.
                Portões trancados: Mantenha os portões sempre trancados para evitar fugas acidentais.<br>
                <br>4. Cuidados em Passeios
                Use uma guia: Sempre use uma guia durante os passeios, mesmo que seu animal esteja bem treinado.
                Supervisão constante: Fique atento ao seu pet em áreas públicas e evite soltá-lo em locais
                desconhecidos.<br>
                <br>5. Medidas Preventivas Adicionais
                Atualização constante: Mantenha as informações de contato no microchip e na etiqueta de identificação
                sempre atualizadas.
                Fotos recentes: Tenha fotos recentes do seu animal para facilitar a busca em caso de perda.
                Redes sociais e vizinhança: Conheça seus vizinhos e siga grupos locais de pets nas redes sociais. Eles
                podem ser uma grande ajuda em caso de desaparecimento.<br>
                <br>6. Procedimentos de Busca
                Agir rapidamente: Se seu pet se perder, comece a busca imediatamente.
                Distribua panfletos: Crie panfletos com a foto do animal, descrição e informações de contato.
                Notifique autoridades locais: Informe clínicas veterinárias, abrigos e grupos de proteção animal sobre o
                desaparecimento.<br>
            </div>
        </div>

        <div class="seguranca">
            <h1><strong>DICAS DE SEGURANÇA</strong></h1>
            <div class="seguranca-text">
                <br>1. Proteja as Janelas e Varandas
                Tela de proteção: Instale telas de proteção em janelas e varandas para evitar quedas, especialmente se
                você
                mora em andares altos.
                Janelas fechadas ou com limitadores: Mantenha as janelas fechadas ou use limitadores para que não possam
                ser
                abertas totalmente.<br>
                <br>2. Evite Acesso a Produtos Tóxicos
                Produtos de limpeza: Armazene produtos de limpeza, pesticidas e outros produtos químicos fora do alcance
                dos
                animais.
                Plantas tóxicas: Tenha cuidado com plantas tóxicas para pets, como lírios, azaleias, e aloe vera.
                Verifique
                a lista de plantas seguras e mantenha as tóxicas fora de casa.<br>
                <br>3. Segurança na Cozinha
                Lixo trancado: Use lixeiras com tampas seguras para impedir que os animais acessem restos de comida ou
                objetos perigosos.
                Alimentos proibidos: Alguns alimentos humanos são tóxicos para animais, como chocolate, cebola, alho,
                uvas e
                abacate. Certifique-se de que esses alimentos estejam fora do alcance.<br>
                <br>4. Objetos Pequenos e Perigosos
                Pequenos objetos: Mantenha objetos pequenos como brinquedos, moedas, botões e fios fora do alcance dos
                animais para evitar engasgamentos.
                Cordões e fios elétricos: Esconda ou organize os fios elétricos para evitar que os animais mastiguem e
                sofram choques elétricos.<br>
                <br>5. Áreas Seguras
                Espaço próprio: Crie um espaço seguro e confortável para seu animal, onde ele possa descansar e se
                sentir
                protegido.
                Portões de segurança: Use portões de segurança para bloquear o acesso a áreas perigosas, como escadas ou
                quartos com muitos objetos pequenos.<br>
                <br>6. Supervisão e Treinamento
                Supervisão constante: Supervisionar seus animais de estimação, especialmente filhotes, para evitar
                acidentes.
                Treinamento básico: Ensine comandos básicos de obediência, como "não", "vem" e "senta", para melhorar o
                controle e segurança dentro de casa.<br>
                <br>7. Evite o Acesso a Áreas de Risco
                Piscinas e banheiras: Se você tem uma piscina, certifique-se de que ela seja cercada. Nunca deixe seu
                animal
                sozinho perto de piscinas ou banheiras cheias.
                Portas e portões trancados: Mantenha as portas e portões que levam para fora de casa sempre trancados
                para
                evitar que os animais saiam sem supervisão.<br>
                <br>8. Cuidados com Móveis e Decoração
                Móveis estáveis: Certifique-se de que os móveis sejam estáveis e não possam tombar facilmente.
                Evite objetos pontiagudos: Remova ou proteja objetos pontiagudos ou frágeis que possam causar
                ferimentos.<br>
                <br>9. Segurança durante Eventos
                Barulhos altos: Durante tempestades, fogos de artifício ou festas, mantenha seus animais em um local
                seguro
                e tranquilo para evitar estresse e fugas.
                Portas e janelas fechadas: Certifique-se de que portas e janelas estejam bem fechadas para impedir que
                os
                animais saiam assustados.<br>
                <br>10. Saúde e Bem-estar
                Visitas regulares ao veterinário: Mantenha as vacinas, vermifugações e consultas regulares em dia para
                garantir a saúde do seu animal.
                Alimentação adequada: Forneça uma dieta balanceada e adequada à espécie e idade do seu animal para
                manter a
                saúde e prevenir problemas.<br>

                <img src="lock.png" alt="cadeado">
            </div>
        </div>

        <%- include ('partials/footer.ejs') %>