<%- include ('../../partials/header.ejs') %>

<div class="container"> 
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <div class="card-lc">
            <form action="/authenticate" method="POST">
                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                <input class="form-control" name="password" type="password" placeholder="******"><br>
                <button type="submit" class="btn btn-success btn-block">Logar</button>
            </form>
        </div>
    </div>
</div>


<%- include ('../../partials/footer.ejs') %>